.button_box{
	margin-bottom: 30px;
	display: inline-block;
}

.list_table_star{
	display: inline-block;
	min-width: 100px;
}

.list_table_star li{
	display: inline-block;
}

.myLeft_tabCon_list li{
	padding: 0 10px; 
	border-left: none;
}

.icon-xingxing{
	color: #e1e1e1;
}

.icon_pre{
	color: #ffe55c;
}

.content_date_input{
	margin-right: 0 !important;
}

.daterangepicker:before, .daterangepicker:after{
	display: none;
}

.add_btn{
	width: 80px;
	height: 36px;
	margin-bottom: 20px;
	line-height: 36px;
	display: inline-block;
}

/*楗肩姸鍥�*/
.table_caption{
	font-size: 32px;
	font-weight: bold;
}

.pie {
	display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: yellowgreen;
    background-image: linear-gradient(to right, transparent 50%, #655 0);
}

.pie::before {
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0/50%;
    background-color: inherit;
    transform-origin: left;
    transform: rotate(.2turn);
}

/*鏄熻瘎*/
.review{
	border-top: 1px dashed #e5e5e5;
	/*border-bottom: 1px dashed #e5e5e5;*/
	margin: 0 10%;
	padding: 30px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.star_review{
	display: inline-block;
	padding-left: 100px;
	font-size: 24px;
	font-weight: bold;
}

.star_review .list_table_star li span{
	font-size: 22px;
	margin-left: 2px;
}

.list_table_fen{
	margin-left: 15px;
	font-size: 18px;
}

.review_u{
	margin: 15px 10%;
	padding: 15px 20px;
	border: 1px solid #e5e5e5;
}

.review_u_title{
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
}

.border_b{
	border-bottom: 1px solid #e5e5e5;
}

.review_u_top{
	margin: 10px 20px;
	font-size: 16px;
	color: #aaa;
}

.review_u_top .list_table_star li span{
	font-size: 16px;
}

.review_u_word{
	margin: 0 20px;
	font-size: 16px;
}

/*鏂板浼氳瀹�*/

.add_title{
	font-size: 20px;
	font-weight: bold;
}

.add_body{
	padding: 20px 10%;
}

.add_body div{
	margin-bottom: 15px;
	display: flex;
	align-items: flex-start;
}

.add_input{
	width: calc(100% - 120px);
	border: 1px solid #ccc;
	outline: none;
	padding: 6px 10px;
}

.add_textarea{
	height: 70px;
}

.add_body span{
	font-size: 16px;
	display: inline-block;
	width: 100px;
	text-align: right;
	margin-right: 10px;
}
.add_pic{
	flex-wrap: wrap;
	/*justify-content: space-around;*/
	border: none;
	padding: 0;
}
.add_pic_img{
	display: inline-block !important;
	width: 32%;
	margin-bottom: 10px;
	margin-right: 1.3%;
	position: relative;
	/* height: 80px; */
	height: 0;
	padding-bottom: 30%;
}
.add_pic_img_btn{
    font-size: 70px;
	border: 1px solid #ddd;
	text-align: center;
    color: #bbb;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
}
.add_pic_img img{
	/* width: 100%;
	height: 80px; */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.add_pic_img i{
	position: absolute;
	top: 0;
	right: 0;
	background-color: #999;
	color: #fff;
}

.list_table_btn{
	width: auto;
}

/*浼氳瀹よ鎯�*/
.room_w{
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0;
	line-height: 30px;
}

.room_w span,.room_w p{
	margin-left: 10px;
	font-weight: 200;
}

.room_w img{
	width: 80%;
}

